# Node.js modules and Next.js build output
node_modules/
.next/
out/
.pnpm-debug.log

# Logs and cache
*.log
.cache/
*.gz

# OS and Editor files
.DS_Store
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Compiled binaries (can be huge)
*.so
*.node
