# Ignore Python virtual environments
venv/
env/
frontend.zip

# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Editor configs
.vscode/
.idea/

# Environment files
.env
*.env

# macOS and Windows system files
.DS_Store
Thumbs.db

# Logs and SQLite
*.log
*.sqlite3

# Jupyter checkpoints
.ipynb_checkpoints/
frontend.zip
